.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #fff;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #c9c7c7;
}

a.btn--radius {
  border-radius: 100vh;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
}
