.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  background-color: #e0e0e0;
  padding: 20px;
}

.center {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
}

.right {
  flex: 1;
  background-color: #7e6b37;
  padding: 20px;
}
