html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.left,
.center,
.right {
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  width: 30%;
  background-color: #ffdddd;
}

.center {
  width: 40%;
}

.right {
  width: 30%;
}

p {
  margin: 0;
  font-size: 24px;
}
